{% extends "base.html.twig" %}
{% block body %}
    <h2>{{ 'account.myAccount'|trans }}</h2>
    <p>
        {% trans with {'%username%': app.user.username} %}
            hello_username
        {% endtrans %} !
    </p>

    <h3>{{ 'account.yourwatchlist'|trans }}</h3>
    {% for program in user.programs %}
    <ul>{{ program.title }}</ul>
        {% else %}
            <p>{{ 'error.noRecord'|trans }}</p>
    {% endfor %}
{% endblock %}
