<h1>Bravo!</h1>

<div> La série {{ program.title }} vient d'être ajouté!</div>
<div>
    Vous pouvez y accèder <a class="btn btn-primary" href="{{ absolute_url(path('program_show', {'slug': program.slug})) }}">ici!</a>
</div>
<div>
    <img class="mr-5" src="https://art.pixilart.com/ed662b18ec46a15.png" width="40px">
</div>



