$theme-colors: (
        "primary": #F4D4D3,
        "secondary": #94D4D3,
        "light": #d5e3e1
);

.navbar {
 border-bottom: 1px solid #94D4D3;
}

.btn {
 margin: 10px;
}

li {
list-style: none;
}

@import "~bootstrap/scss/bootstrap";
