@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Special+Elite&display=swap");
$font-title: "Special Elite", cursive;
$font-text: "Lato", sans-serif;

$theme-colors: (
        "primary": #F4D4D3,
        "secondary": #94D4D3,
        "light": #dcf3f0
);

h1, h2 {
 font-family: $font-title;
}

a, table {
 font-family: $font-text;
}

.navbar {
 border-bottom: 1px solid #94D4D3;
}

.navbar a {
 font-family: $font-title;
}

.btn {
 margin: 10px;
}

.navbar-brand, .nav-item {
 margin-right: 10%;
}

li {
list-style: none;
}
@import "~bootstrap";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

li {
 list-style:none !important;
 padding:10px;
 font-size:20px;
 text-decoration:none;
}

.drop-menu {
 list-style: none;
 background-color:#F4D4D3;
 padding:0;
 margin:0;
}

nav ul li {
 list-style: none;
 line-height:44px;
 float:left;
}

nav ul li a {
 padding:10px;
 font-size:20px;
 text-decoration:none;
}

nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */

nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
 z-index:99999;
 display:list-item !important;
 position:absolute;
 margin-top:5px;
}

nav ul li:hover ul li {
 float:none;
}
